* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.navbar {
  background-color: #9A031E;
  color: #fff;
}
.navbar__lista {
  list-style: none;
  padding-left: 16px;
}
.navbar__lista__item__link {
  color: #fff;
  text-decoration: none;
}
.navbar__lista__item__link--active {
  border-bottom: 5px solid #fff;
}
.navbar__lista__item__link:hover {
  text-decoration: underline;
  color: #fff;
}
@media screen and (max-width: 640px) {
  h2 {
    padding-top: 56px;
  }
  .menu {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .navbar ul {
    flex-direction: column;
  }
  .sobre {
    padding-top: 24px;
  }
  .sobre > div {
    flex-direction: column-reverse;
    align-items: center;
  }
  .sobre img {
    width: 100%;
    padding-left: 0;
  }
  h3 {
    padding: 16px 0;
  }
}
.botao__voltar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9A031E;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    /* Começa fora da tela à esquerda */
  }
  100% {
    transform: translateX(0);
    /* Move-se para a posição normal */
  }
}
.hero {
  font-size: 1.75em;
}
.hero__informacoes {
  overflow-y: hidden;
}
.hero__informacoes__principal {
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: 1;
}
.hero__informacoes__img {
  width: 30%;
}
.hero__informacoes--destaque {
  color: #9A031E;
  font-weight: bold;
  font-size: 3em;
}
.hero__informacoes__btn {
  border: 1px solid #9A031E;
}
.hero__informacoes__btn:hover {
  background-color: #9A031E;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
h2 {
  color: #9A031E;
  border-bottom: 1px solid #9A031E;
  font-size: 4em;
}
.sobre_mim {
  font-size: 1.2em;
}
.sobre > div {
  flex-direction: column-reverse;
  align-items: center;
}
.sobre img {
  width: 100%;
  padding-left: 0;
}
.sobre p {
  padding: 16px 0;
}
.repositorios p {
  padding: 16px 0;
}
.repositorios ul {
  grid-template-columns: 100%;
}
@media screen and (min-width: 641px) {
  h2 {
    padding-top: 56px;
  }
  .repositorios ul {
    grid-template-columns: repeat(2, 48%);
  }
  h3 {
    padding: 16px 0;
  }
  form {
    max-width: 340px;
  }
}
.projeto {
  position: relative;
}
.projeto-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  font-family: 'Roboto', 'sans-serif';
  cursor: pointer;
}
.overlay:hover {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}
.overlay:hover img {
  transform: scale(1.1);
}
.acesso {
  background-color: #9A031E;
}
.acesso a {
  text-decoration: none;
  color: #fff;
}
form div {
  flex-direction: column;
  padding-top: 30px;
  max-width: 360px;
}
form input,
form textarea {
  width: 100%;
  margin: 8px 0;
  padding: 4px;
}
label {
  font-weight: 700;
}
form textarea {
  resize: none;
  height: 120px;
}
footer {
  margin-top: 56px;
  justify-content: space-around;
  align-items: center;
}
footer li {
  list-style: none;
  padding-left: 16px;
}
footer img {
  width: 24px;
}
body {
  font-family: 'Roboto', 'sans-serif';
}
.titulo {
  font-family: 'Great Vibes', 'cursive';
}
.header,
footer {
  background-color: #9A031E;
  color: #fff;
}
